@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<<div class="text-center">
    <h1 class="display-4">Welcome to Our Bank</h1>
    <p>Read our Privacy Policy<a href="https://localhost:44331/Privacy"> here</a>.</p>
</div>